/* header */

/* Hover over drop down part */
.dropdownMenu {
  line-height: 290%;
  margin-left: 5%;
}
.dispFirst {
  font-size: 160%;
  padding-bottom: 0.5%;
}
.mainDivgrid {
  /* display: grid;
      grid-template-columns: repeat(3,1fr); */
  display: none;

  width: 60%;
  height: 250px;
}
.imageSetheigth {
  height: 250px;
  width: 80%;
}

/* Hover over drop down part ends */

/* #navbar {
  position: fixed;
  width: 100%;
  margin-top: 0px;
  overflow: hidden;
} */
/* #positionFixed {
  border: 12px solid red;
} */
body {
  font-family: sans-serif;
  font-weight: bold;
}

* {
  outline: none;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: small;
}

.overlay {
  border: 1px solid red;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 200vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);

  display: none;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 450px;
  height: auto;

  padding: 20px;
  box-sizing: border-box;
}

.close-btn {
  position: absolute;
  right: 30px;
  height: 40px;
  padding: 10px;
  width: 30px;
  height: 30px;

  text-align: center;
  font-size: 30px;
}

.insidepopdiv > p:first-child {
  font-size: 30px;
}

.insidepopdiv > p:nth-child(3n) {
  color: gray;
  font-size: small;
}

.insidepopdiv > p:nth-child(7n) {
  color: gray;
  font-size: small;
}

.insidepopdiv > p:nth-child(7n) > span {
  color: blue;
  font-size: large;
}

.yes .overlay {
  display: block;
}

.popup.yes .content {
  /* transition: all 300ms ease-in-out; */
  transform: translate(-50%, -50%) scale(1);
}

.insidediv {
  margin: auto 20px;
}

.mobilenumber > div {
  height: 35px;
  width: 100%;
  border: 1px solid rgb(213, 213, 241);
  display: flex;
}

.insidediv > p:first-child {
  font-size: x-large;
  margin: 0;
}

.insidediv > p:nth-child(2n) {
  font-size: 10px;

  color: grey;
}

.mobilenumber > div > div:first-child {
  height: 100%;
  width: 10%;

  display: flex;
  align-items: center;
}

.mobilenumber > div > div:nth-child(2) {
  margin: 3px;
  background-color: grey;
  margin-right: 20px;
  border: 1px solid;
  display: flex;
  align-items: center;
}

.mobilenumber input {
  height: 80%;
  width: 100%;
  border: 0px;
  margin-top: 1%;
}

.content hr {
  width: 80%;
  align-self: center;
  margin-left: 10%;
  margin-right: 10%;
}

.content #bottom {
  height: 35px;

  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.content #bottom > div:last-child {
  background-color: rgb(5, 5, 95);
  width: 40%;
  height: 100%;
}

.content #bottom button {
  border: none;
  background-color: transparent;
  height: 100%;

  text-align: center;
  color: white;
  align-items: flex-end;
}

* {
  margin: 0%;
  padding: 0%;
}

.total {
  display: flex;
  width: 100%;

  justify-content: space-around;
  background-color: black;
  color: white;
  height: 30px;
  font-family: sans-serif;
  font-size: 10px;
  align-items: center;
}

.total > div {
  display: flex;
}

.total > div > div {
  margin: 5px;

  height: 20px;
}

#second {
  background-color: whitesmoke;
  color: black;
  height: 40px;
}

#third {
  background-color: white;
  color: black;
}

#fourth {
  background-color: rgb(25, 77, 175);
  color: white;
  text-align: center;
  padding: 5px;
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
  .total {
    justify-content: none;
  }

  #third {
    display: none;
  }

  #maximage {
    display: none;
  }

  .signupid {
    display: none;
  }

  .displayhere {
    display: display;
  }
}

#total {
  width: auto;
}

.border {
  background-color: grey;
  border: 1px solid;
  height: 8px !important;
  margin-top: 100px;
  border-color: black;
}

img {
  width: 100%;
  height: 100%;
}

#second > input {
  height: 50%;
}

button {
  height: 50%;
  font-size: 10px;
  background-color: white;
  border: 0px;
}

#second {
  grid-area: a;
}

.b {
  grid-area: b;
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
  .total {
    justify-content: none;
  }

  #third {
    display: none;
  }

  #maximage {
    display: none;
  }

  .signupid {
    display: none;
  }

  .displayhere {
    display: display;
  }
}

.border {
  background-color: grey;
  border: 1px solid;
  height: 8px !important;
  margin-top: 100px;
  border-color: black;
}

img {
  width: 100%;
  height: 100%;
}

#second > input {
  height: 50%;
}

button {
  height: 50%;
  font-size: 10px;
  background-color: white;
  border: 0px;
}

#second {
  grid-area: a;
}

.b {
  grid-area: b;
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
  .total {
    justify-content: none;
  }

  #third {
    display: none;
  }

  #maximage {
    display: none;
  }

  .signupid {
    display: none;
  }

  .displayhere {
    display: display;
  }
}

.twopopup .addlayer {
  border: 1px solid black;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: none;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.twopopup .popupcontent {
  border: 1px solid black;
  position: absolute;
  width: 400px;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  padding: 50px;
  background: #fff;
}

.twopopup.value .addlayer {
  display: block;
}

.twopopup.value .popupcontent {
  transform: translate(-50%, -50%) scale(1);
}

.twopopup .continue {
  width: 100%;
  height: 40%;
  justify-content: flex-end;

  display: flex;
}

.twopopup .continue > div {
  width: 30%;
  height: 100%;
  background-color: blue;
}

.twopopup hr {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.popupcontent .inputnumber {
  display: flex;
}

.popupcontent .inputnumber {
  display: flex;
  margin: 10px;
  width: 80%;
  height: 40px;
}

.popupcontent .inputnumber > input {
  margin-left: 20px;
  width: 20%;
  height: auto;
  text-align: center;
}

#inputnumber1 {
  height: auto;
}

#inputnumber2 {
  height: auto;
}

#inputnumber3 {
  height: auto;
}

#inputnumber4 {
  height: auto;
}

#inputnumber5 {
  height: auto;
}

.twopopup .continue button {
  width: 100%;
  background-color: blue;
  border: 0;
  padding: 10px;
  color: white;
}

#button {
  font-family: sans-serif;
  font-size: smaller;
  font-weight: bold;
  background-color: #f7f8f7;
}
/* body  part*/

#category {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
#catImg {
  cursor: pointer;
  height: 180px;
}

.p {
  margin-top: 3%;
  padding-left: 6%;
  font-size: 30px;
}
#catText {
  text-align: center;
  font-weight: bold;
}
.font {
  padding-bottom: 3%;
}

@media only screen and (min-width: 0px) and (max-width: 400px) {
  #category {
    /* height: 460px; */
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
#party {
  width: 90%;
  margin: auto;
}
#party > img {
  width: 100%;
  cursor: pointer;
}
#seasonDiv {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
}
@media only screen and (min-width: 0px) and (max-width: 400px) {
  #seasonDiv {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
.seasonImg {
  width: 90%;
  margin-left: 8%;
  cursor: pointer;
}

#shopbyC {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media only screen and (min-width: 0px) and (max-width: 400px) {
  #shopbyC {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  #winter {
    width: 100%;
  }
}
.shopByImg {
  width: 40%;
}
.toCursor {
  cursor: pointer;
}
#specific {
  /* border: 1pxsolid red; */
  height: 310px;
  margin-left: 2%;
}

/* Vineeth Part Start */
.h1 {
  font-family: "proxima_nova_rgregular";
  font-weight: 400;
  font-size: 30px;
  padding: 2%;
}

#slider {
  width: 90%;
  height: 400px;
  margin: auto;
  background-image: url("https://70415bb9924dca896de0-34a37044c62e41b40b39fcedad8af927.lmsin.net/MAX-Friday/MAX2.O/MAX-Banner1-desktop-Common-14Dec2021.gif");
  background-size: 100% 100%;
  animation: slider 15s infinite linear;
}

#budgetzone {
  width: 90%;
  height: 450px;
  margin: auto;
  /* border: 1px solid blue; */
}

#budgetzone > div:nth-child(2) {
  /* border: 1px solid red; */
  height: 80%;
  display: flex;
  gap: 10px;
}

#budgetzone > div > div {
  /* border: 1px solid blue; */
  height: 100%;
  width: 35%;
}

.smallbanner {
  width: 90%;
  margin: auto;
  /* border: 1px solid red; */
  height: 300px;
}

.smallbanner > div:nth-child(2) {
  height: 75%;
}

.img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#trendalert {
  height: 400px;
}

.twobanners {
  /* border: 1px solid red; */
  margin: auto;
  width: 90%;
  height: 750px;
}

.twobanners > div:nth-child(2) {
  display: flex;
  height: 80%;
  /* border: solid 1px blue; */
  gap: 20px;
}

.twobanners > div > div {
  /* border: 1px solid greenyellow; */
  width: 50%;
}

#contactbanner {
  height: 400px;
}
.font {
  font-family: "proxima_nova_rgregular";
}

/* Font style */
@font-face {
  font-family: "proxima_nova_rgregular";
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima_nova_rgbold";
  src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Font style ends */

/* Animation starts */
@keyframes slider {
  0% {
    background-image: url("https://70415bb9924dca896de0-34a37044c62e41b40b39fcedad8af927.lmsin.net/MAX-Friday/MAX2.O/MAX-Banner1-desktop-Common-14Dec2021.gif");
  }

  25% {
    background-image: url("https://70415bb9924dca896de0-34a37044c62e41b40b39fcedad8af927.lmsin.net/MAX-Friday/MAX2.O/MAX-Banner2-desktop-Women-08Dec2021.jpg");
  }

  50% {
    background-image: url("https://70415bb9924dca896de0-34a37044c62e41b40b39fcedad8af927.lmsin.net/MAX-Friday/MAX2.O/MAX-Banner3-desktopp-Women-08Dec2021.jpg");
  }

  75% {
    background-image: url("https://70415bb9924dca896de0-34a37044c62e41b40b39fcedad8af927.lmsin.net/MAX-Friday/MAX2.O/MAX-Banner4-desktop-Women-08Dec2021.jpg");
  }
}

/* animation ends */
/* Vineeth Part Ends */

/* footer */
#Subscribe {
  display: flex;
  justify-content: space-around;
}
#apples {
  height: 60px;
  width: 150px;
  margin-bottom: 2.5px;
}
#plays {
  height: 70px;
  width: 150px;
  margin-top: 2px;
}
#cat {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
#catt {
  display: flex;
  /* padding: 100px; */
  margin-left: 170px;
  width: 420px;
  justify-content: space-between;
  margin-bottom: 50px;
}
.cont {
  width: 50px;
  height: 40px;
  padding: 10px;
}
#contact {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin-left: 145px;
}
.social {
  width: 40px;
  height: 40px;
}
.contu {
  display: flex;
  justify-content: space-between;
}
#social2 {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.line {
  line-height: 25px;
}
h5 {
  font-size: 17px;
}
/* p {
  color: #889878;
} */
#Subscribe > div > p {
  font-size: 18px;
}
h3 {
  font-size: 22px;
}
input {
  height: 50px;
  width: 300px;
  font-size: 20px;
}
#btn {
  height: 60px;
  width: 150px;
  background-color: black;
  color: white;
  padding: auto;
  border-radius: 5px;
  font-size: 20px;
}
td {
  border: 0.1px solid black;
  width: 150px;
  height: 20px;
  padding: auto;
  text-align: center;
}
table {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
  #cat {
    display: none;
  }
  #catt {
    display: none;
  }
  #hide {
    display: none;
  }
  #contact {
    display: none;
  }

  .mid {
    display: flex;
    justify-content: space-evenly;
  }
  hr {
    display: none;
  }
  .contu {
    display: none;
  }
  .line {
    display: none;
  }
  #logo {
    display: grid;
  }
}
@media only screen and (min-width: 600px) {
  #tab {
    display: none;
  }
  #last {
    display: flex;
    margin-left: 120px;
    margin-top: 25px;
  }
}
